 <style type="text/css" id="styleCSS">

body {
	font-family: "Lucida Grande", "Helvetica", roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 14.5px;
	color: #000000;
    background-color:#FFFFFF;
}

td, tr {
	font-family: "Lucida Grande", "Helvetica", roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 14.5px;
	color: #000000;
}


a:link {
	text-decoration: none;
	color: #4267B2;
}
a:visited {
	text-decoration: none;
	color: #001f3f;
}
a:hover {
	text-decoration: underline;
	color: #001f3f;
}

#container
{
	/*width: 90%;
	margin: 10px auto;
	max-width:1024px;*/
	
	width: 900px;
	margin: 0px auto;
}

#header{
	width:900px;
	background: #FFFFFF;
}

#header h1{
	padding-top: 25px;
	padding-left: 15px;
	text-decoration:none;
	color: #000000;
}
#header h1 a:hover{
	text-decoration:none;
}
#header h1 a{
	text-decoration:none;
}
#menu{
	float: left;
	width: 140px;
	margin: 0px;
	padding: 1em;
	text-align:left;
	overflow:hidden;
}
#menu ul {
	list-style: none;
	list-style-position:outside;
	font-size:larger;
	padding-left:0px;
	margin-left:0px;
}

#menu ul li {
	padding-bottom:14px;
}
#menu ul li a{
	padding-bottom:14px;
	text-decoration: none;
	font-size:14px;
}
 
#content{
/*	padding: 1em;
	margin-left:200px;
	border-left: solid 1px #CCCCCC;*/

	margin-left:10px;
	padding: 1em;
	float:left;
	width:645px;
	border-left: solid 1px #CCCCCC;
}

/*
#content div {
	float:left;
}*/
#full-content{
	padding: 1em;
}


.sys_footer{
    text-align:right;
    font-size:small;
    width:770px;
    margin:10px auto;
}

#sys_designerfooter {
    border: none;
    margin:0 auto;
    padding: 0;
    background: none;
}


.sys_txt {
	font-family: "Lucida Grande","Arial Unicode MS","Helvetica", roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 14.5px;
	color: #000000;
}

.sys_txt a:link {
	text-decoration:none;
	color: #0074D9;
}
.sys_txt a:visited {
	text-decoration:none;
	color: #0074D9;
}
.sys_txt a:hover {
	text-decoration:underline;
	color: #0074D9;

}

.img-circle {
    border-radius: 50%;
}

.sys_txt h1 {
	font-family: "Verdana", "Lucida Grande","Arial Unicode MS", sans-serif;
	font-size: 30px;
}


.sys_txt h2 {
	font-family: "Lucida Grande","Arial Unicode MS", sans-serif;
	font-size: 26px;
}


.sys_txt h3 {
	font-family: "Lucida Grande","Arial Unicode MS", sans-serif;
	font-size: 22px;
}


.sys_txt h4 {
	font-family: "Lucida Grande","Arial Unicode MS", sans-serif;
	font-size: 20px;
}


.sys_txt h5 {
	font-family: "Lucida Grande","Arial Unicode MS", sans-serif;
	font-size: 14px;
}


.sys_txt h6{
	font-family: "Lucida Grande","Arial Unicode MS", sans-serif;
	font-size: 11px;
}




* {box-sizing: border-box}
body {font-family: "Lucida Grande","Arial Unicode MS", sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #001f3f;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



/* Add a black background color to the top navigation */
.topnav {
  background-color: #4267B2;
	overflow: hidden;
	width: 100%;
	margin: 0px auto;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14.5px;
  text-decoration: none;
  font-size: 14.5px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #FC4A1A;
  color: white;
}



</style>
  
